/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
    :root{
     --background: 0 0% 98%;
    --foreground: 222 47% 11%;
    }
    .dark{
        --background: 222 47% 4%;
    --foreground: 213 31% 91%;
    
    }
    body{
    background-color: hsl(var(--background));
    color:hsl(var(--foreground));
    }
}
html {
    scroll-behavior: smooth;
  }
  a:hover{
    font-weight: 500;
  }
.anim{
    animation:go 1.3s linear;
     animation-timeline: view();
    animation-range: entry 0 ;
  }
  .translate{
    animation:move 0.7s linear;
  }
  @keyframes move{
    from{
        opacity: 0;
        transform:translateX(-100px);
    }
    to{
        opacity: 1;
        transform:translateX(0);
    }
}
@keyframes go{
    from{
        opacity: 0;
        transform:scale(0.7);
    }
    to{
        opacity: 1;
        transform:scale(1);
    }
}